.images {
  display: flex;
  .image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    .deleteBtn {
      position: absolute;
      span {
      }
      display: block;
      background-color: red;
      width: 20px;
      height: 20px;
      color: white;
      cursor: pointer;
      top: 0px;
      left: 0px;
      border: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
